.leads {
  margin-top: 64px;
  position: relative;
  min-height: 100vh;
  width: 100%;

  padding: 24px;
}

.leads__bg {
  position: absolute;
  z-index: -1;
  inset: 0;
  overflow: hidden;
}

.leads__bg img {
  width: 100%;
  height: 100%;
}

.leads__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 128px;
}

.leads__form-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;

  max-width: 550px;
}

.leads__form-content > h2 {
  color: var(--white-color);
  margin-top: 64px;
  text-align: center;
}

.leads__form-form {
  margin-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;

  padding: 24px;

  width: 100%;

  border-radius: 8px;

  background-color: var(--white-color);
  color: var(--black-color);
}

.leads__form-form button {
  margin-top: 12px;
}
